h1 {
    margin: 10px;
    text-align: center;
    text-shadow: 2px 1px 0 hsl(0, 0%, 50%),5px 4px 0 hsla(0, 0%, 0%, 0.15);
}

.container {
    width: 420px;
    max-width: 80%;
}

.alert {
    text-align: center;
}

.btn-login {
    text-align: center;
}

.top-buffer {
    margin-top: 20px;
}

.top-large-buffer {
    margin-top: 50px;
}