<div class=container>
  <div class="row justify-content-center">
    <div class="col profile">
      <img class="photo" src="assets/photos/samy.png">
      <br>
      <a class="name">Samy Amraoui</a>
      <br>
      <a class="location">Grenoble, Auvergne-Rhône-Alpes, FR</a>
      <br>
      <i class="fa fa-envelope-o"></i>
      <a class="email">sametzy[at]gmail[dot]com</a>
      <br>
      <i class="fa fa-github"></i>
      <a class="github" href="https://github.com/foxadb">github.com/foxadb</a>
    </div>
  </div>
  <h2 class="row justify-content-center">FAQ</h2>
  <div class="row justify-content-center">
    <ul class="list-group">
      <li class="list-group-item">
        <strong>Who are you?</strong>
        <p>
          I am a last year computer science student at Grenoble INP - Ensimag. My gamertag is <i>foxadb</i>.
        </p>
      </li>
      <li class="list-group-item">
        <strong>Who is your main?</strong>
        <p>
          Fox.
        </p>
      </li>
      <li class="list-group-item">
        <strong>What is the ranking algorithm?</strong>
        <p>
          Currently, it is a classic <a href="https://en.wikipedia.org/wiki/Elo_rating_system">Elo rating system</a>. A new ranking system will be implemented later.
        </p>
      </li>
      <li class="list-group-item">
        <strong>Could I be admin?</strong>
        <p>
          Send me an email.
        </p>
      </li>
      <li class="list-group-item">
        <strong>How could I submit a match?</strong>
        <p>
          Match results are added to the database upon coming out. As this project is still at a early development stage, requests
          to add matches are not my priority right now. However, any kind of help is appreciated.
        </p>
      </li>
      <li class="list-group-item">
        <strong>Why am I only ranked X?</strong>
        <p>
          Wait for a better ranking system, or just git gud.
        </p>
      </li>
      <li class="list-group-item">
        <strong>Why Rondelle is in the ranking?</strong>
        <p>
          It is totally legit, Rondelle is more active in the Grenoble scene than 50% of the locals.
        </p>
      </li>
      <li class="list-group-item">
        <strong>"Pourquoi Bobi ?"</strong>
        <p>
          "BOnne BIquette".
        </p>
      </li>
    </ul>
  </div>
</div>