<div class=container>
  <div class="row">
    <div class="col-lg-4 profile">
      <img class="photo" src="assets/authors/samy.png">
      <br>
      <a class="name">Samy Amraoui</a>
      <br>
      <a class="location">Metz, Grand Est, FR</a>
      <br>
      <i class="fa fa-envelope-o"></i>
      <a class="email" href="mailto:samy.amraoui@grenoble-inp.org">samy.amraoui@grenoble-inp.org</a>
    </div>
    <div class="col-lg-4 profile">
      <img class="photo" src="assets/authors/arte.png">
      <br>
      <a class="name">Julien Bernard</a>
      <br>
      <a class="location">Paris, Île-de-France, FR</a>
      <br>
      <i class="fa fa-envelope-o"></i>
      <a class="email" href="mailto:julien.bernard@grenoble-inp.org">julien.bernard@grenoble-inp.org</a>
    </div>
    <div class="col-lg-4 profile">
      <img class="photo" src="assets/authors/camus.png">
      <br>
      <a class="name">Julien Camus</a>
      <br>
      <a class="location">Dax, Nouvelle-Aquitaine, FR</a>
      <br>
      <i class="fa fa-envelope-o"></i>
      <a class="email" href="mailto:julien.camus@grenoble-inp.org">julien.camus@grenoble-inp.org</a>
    </div>
  </div>
</div>