<div class=container>
  <table>
    <tbody>
      <tr>
        <td>
          <img class="photo" src="assets/authors/samy.png">
        </td>
        <td>
          <img class="photo" src="assets/authors/arte.png">
        </td>
        <td>
          <img class="photo" src="assets/authors/camus.png">
        </td>
      </tr>
      
      <tr>
        <td class="name">Samy Amraoui</td>
        <td class="name">Julien Bernard</td>
        <td class="name">Julien Camus</td>
      </tr>

      <tr>
        <td class="description">Project Team Leader</td>
        <td class="description">IAR Chief Producer</td>
        <td class="description">Report Executive Officer</td>
      </tr>

      <tr>
        <td class="email"><i class="fa fa-envelope-o"></i><a href="mailto:samy.amraoui@grenoble-inp.org">samy.amraoui@grenoble-inp.org</a></td>
        <td class="email"><i class="fa fa-envelope-o"></i><a href="mailto:julien.bernard@grenoble-inp.org">julien.bernard@grenoble-inp.org</a></td>
        <td class="email"><i class="fa fa-envelope-o"></i><a href="mailto:julien.camus@grenoble-inp.org">julien.camus@grenoble-inp.org</a></td>
      </tr>
    </tbody>
  </table>
</div>