.container {
    margin-top: 64px;
    margin-bottom: 64px;
    max-width: 600px;
}

.form-group {
    padding-top: 24px;
    padding-bottom: 24px;
}

.btn {
    display: block;
    margin: 0 auto;
}

.alert {
    text-align: center;
}

.element {
    text-align: center;
    padding: 16px 0 16px 0;
}