.buffer {
    margin-top: 50px;
    margin-bottom: 50px;
}

h2 {
    text-align: center;
}

table {
    margin: auto;
    width: 50%;
}

table th, td {
    text-align: center;
}

table .player1 {
    text-align: left;
}

table .player2 {
    text-align: right;
}

.match-table tbody tr:hover {
    background-color: #dddddd;
    box-shadow: 0 0 10px #000000;
}

.alert {
    text-align: center;
}