<div class="container buffer">
  <h1>
    Hello {{ username }}
    <i class="fa fa-smile-o"></i>
  </h1>

  <hr class="buffer">

  <div class="row top-buffer justify-content-center">
    <div class="col-4">
      <button class="btn btn-primary" aria-label="Ranking" (click)="goHome()">
        <i class="fa fa-outdent fa-lg"></i> Go to Ranking</button>
    </div>
    <div class="col-2">
      <button class="btn btn-danger" aria-label="Logout" (click)="logout()">
        <i class="fa fa-sign-out fa-lg"></i> Sign Out</button>
    </div>
  </div>

  <hr class="buffer">

  <div class="row buffer justify-content-center">
    <div class="col">
      <app-search-player (playerMessageEvent)="receivePlayerMessage($event)"></app-search-player>
    </div>
    <div class="col">
      <app-search-tournament (tournamentMessageEvent)="receiveTournamentMessage($event)"></app-search-tournament>
    </div>
  </div>

  <!--
  <form class="form search-player" (ngSubmit)="onSearch(searchedPlayerName)">
    <div class="row justify-content-center">
      <div class="col-md-auto">
        <mat-form-field>
          <input type="text" placeholder="Search a Player" [(ngModel)]="searchedPlayerName" arial-label="Player" matInput [formControl]="searchPlayerCtrl"
            [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let player of filteredPlayers | async" [value]="player.name">
              {{ player.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="col col-lg-1">
        <i *ngIf="loading" class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
      </div>
    </div>
    <div *ngIf="playerNotFoundError" class="alert alert-danger">{{ playerNotFoundError }}</div>
  </form>

  <div *ngIf="player">

    <form class="form top-buffer" (ngSubmit)="createMatch()" #f="ngForm" novalidate>
      <div class="row justify-content-center">
        <div class="col-sm-3">
          <input class="form-control" type="text" placeholder="Opponent" name="opponent" [(ngModel)]="matchInput.opponent" #opponent="ngModel"
            required>
        </div>
        <div class="col-sm-1">
          <input class="form-control" type="number" placeholder="0" name="score1" [(ngModel)]="matchInput.playerScore" #playerScore="ngModel"
            min="-1" max="9" required>
        </div>
        <div class="col-sm-1">
          <input class="form-control" type="number" placeholder="0" name="score2" [(ngModel)]="matchInput.opponentScore" #opponentScore="ngModel"
            min="-1" max="9" required>
        </div>
        <div class="col-sm-3">
          <input class="form-control" type="text" placeholder="Tournament" name="tournament" [(ngModel)]="matchInput.tournament" #tournament="ngModel"
            required>
        </div>
        <div class="col-sm-1">
          <button type="submit" class="btn btn-primary" arial-label="Add Match">
            <i class="fa fa-plus"></i> Add Match</button>
        </div>
      </div>
      <div class="row justify-content-center top-buffer">
        <div *ngIf="matchCreationSuccess" class="alert alert-success">{{ matchCreationSuccess }}</div>
        <div *ngIf="matchCreationError" class="alert alert-danger">{{ matchCreationError }}</div>
      </div>
    </form>

    <table class="table table-striped match-table top-buffer">
      <thead>
        <tr>
          <th>Opponent</th>
          <th>Main(s)</th>
          <th>Score</th>
          <th>Tournament</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let match of playerMatches" (click)="editMatch(match._id)">
          <td>{{ match.player2.name }}</td>
          <td>
            <div class='stock' *ngFor="let character of match.player2.mains">
              <img src="assets/stock_icons/{{ character }}.png" />
            </div>
          </td>
          <td>{{ match.score1 }} : {{ match.score2 }}</td>
          <td>{{ match.tournament.name }}</td>
        </tr>
      </tbody>
    </table>
  </div>
-->
</div>