h1 {
    padding: 10px;
    text-align: center;
}

table th, td {
    text-align: center;
}

.element {
    text-align: center;
    padding: 16px 0 16px 0;
}

.alert {
    margin: auto;
    max-width: 50%;
    text-align: center;
}

.buffer {
    margin-top: 48px;
    margin-bottom: 48px;
}

.top-buffer {
    margin-top: 20px;
}

.search-player {
    margin-top: 50px;
    width: 100%;
}

.search-player .mat-form-field {
    text-align: center;
    font-size: large;
    width: 300px;
}

.match-table tbody tr:hover {
    background-color: #dddddd;
    box-shadow: 0 0 10px #000000;
}