<div class="container">
  <div class="row justify-content-center top-buffer">
    <div class="col name">
      <label for="score1">{{ match?.player1.name }}</label>
      <div class="stock" *ngFor="let character of match?.player1.mains">
        <img src="assets/stock_icons/{{ character }}.png" />
      </div>
    </div>
    <div class="col name">
      <label for="score2">{{ match?.player2.name }}</label>
      <div class="stock" *ngFor="let character of match?.player2.mains">
        <img src="assets/stock_icons/{{ character }}.png" />
      </div>
    </div>
  </div>
  <div class="row justify-content-center top-buffer">
    <div class="col tournament">
      {{ match?.tournament.name }}
    </div>
  </div>
  <div class="row justify-content-center top-buffer">
    <div class="col score-col">
      <input type="number" class="form-control" id="score1" aria-describedby="scorePlayer1" placeholder="{{ match?.score1 }}" min="-1"
        name="score1" [(ngModel)]="matchInput.score1" #score1="ngModel" min="-1" max="9">
      <small id="score1Help" class="form-text text-muted">{{ match?.player1.name }} score was {{ match?.score1 }}</small>
    </div>
    <div class="col score-col">
      <input type="number" class="form-control" id="score2" aria-describedby="scorePlayer2" placeholder="{{ match?.score2 }}" min="-1"
        name="score2" [(ngModel)]="matchInput.score2" #score2="ngModel" min="-1" max="9">
      <small id="score2Help" class="form-text text-muted">{{ match?.player2.name }} score was {{ match?.score2 }}</small>
    </div>
  </div>
  <div class="row justify-content-center btn-top-buffer">
    <button arial-label="Cancel" class="btn btn-primary" (click)="goback()">
      <i class="fa fa-arrow-left fa-lg"></i> Cancel</button>
  </div>
  <div class="row justify-content-center btn-top-buffer">
    <button arial-label="Edit" class="btn btn-success" (click)="edit()">
      <i class="fa fa-pencil fa-lg"></i> Edit</button>
  </div>
  <div class="row justify-content-center btn-top-buffer">
    <button arial-label="Delete" class="btn btn-danger" (click)="delete()">
      <i class="fa fa-trash-o fa-lg"></i> Delete</button>
  </div>
  <div *ngIf="matchUpdateError" class="alert alert-danger top-buffer">{{ matchUpdateError }}</div>
</div>
<app-confirm-modal></app-confirm-modal>