.name {
    font-size: x-large;
    text-align: center;
}

.score-col {
    max-width: 168px;
    text-align: center;
}

.score-col input {
    text-align: center;
}

.tournament {
    font-size: large;
    text-align: center;
}

.btn-top-buffer {
    margin-top: 64px;
}

.top-buffer {
    margin-top: 48px;
}

.alert {
    text-align: center;
}