.alert {
    margin: auto;
    max-width: 50%;
    text-align: center;
}

.buffer {
    margin-top: 64px;
    margin-bottom: 64px;
}

.element {
    text-align: center;
    padding: 16px 0 16px 0;
}

.form-center {
    text-align: center;
}