<div class="container">
  <h2>Mains</h2>
  <div class="mains-box border">
    <div class="row justify-content-center buffer">
      <div *ngFor="let main of mains">
        <button (click)="removeMain(main)" type="button" class="btn btn-default">
          <img src="assets/stock_icons/{{ main }}.png">
        </button>
      </div>
    </div>
  </div>

  <div class="row buffer">
    <div class="col-md-6 buffer">
      <div class="float-md-right">
        <button (click)="addMain('fox')" type="button" class="btn btn-default">
          <img src="assets/stock_icons/fox.png">
        </button>
        <button (click)="addMain('falco')" type="button" class="btn btn-default">
          <img src="assets/stock_icons/falco.png">
        </button>
        <button (click)="addMain('marth')" type="button" class="btn btn-default">
          <img src="assets/stock_icons/marth.png">
        </button>
        <button (click)="addMain('sheik')" type="button" class="btn btn-default">
          <img src="assets/stock_icons/sheik.png">
        </button>
      </div>
    </div>
    <div class="col-md-6 buffer">
      <div class="float-md-left">
        <button (click)="addMain('puff')" type="button" class="btn btn-default">
          <img src="assets/stock_icons/puff.png">
        </button>
        <button (click)="addMain('peach')" type="button" class="btn btn-default">
          <img src="assets/stock_icons/peach.png">
        </button>
        <button (click)="addMain('ics')" type="button" class="btn btn-default">
          <img src="assets/stock_icons/ics.png">
        </button>
        <button (click)="addMain('falcon')" type="button" class="btn btn-default">
          <img src="assets/stock_icons/falcon.png">
        </button>
      </div>
    </div>
  </div>
  <div class="row buffer">
    <div class="col-md-6">
      <div class="float-md-right">
        <button (click)="addMain('pikachu')" type="button" class="btn btn-default">
          <img src="assets/stock_icons/pikachu.png">
        </button>
        <button (click)="addMain('samus')" type="button" class="btn btn-default">
          <img src="assets/stock_icons/samus.png">
        </button>
        <button (click)="addMain('doc')" type="button" class="btn btn-default">
          <img src="assets/stock_icons/doc.png">
        </button>
        <button (click)="addMain('yoshi')" type="button" class="btn btn-default">
          <img src="assets/stock_icons/yoshi.png">
        </button>
        <button (click)="addMain('luigi')" type="button" class="btn btn-default">
          <img src="assets/stock_icons/luigi.png">
        </button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="float-md-left">
        <button (click)="addMain('ganon')" type="button" class="btn btn-default">
          <img src="assets/stock_icons/ganon.png">
        </button>
        <button (click)="addMain('mario')" type="button" class="btn btn-default">
          <img src="assets/stock_icons/mario.png">
        </button>
        <button (click)="addMain('ylink')" type="button" class="btn btn-default">
          <img src="assets/stock_icons/ylink.png">
        </button>
        <button (click)="addMain('dk')" type="button" class="btn btn-default">
          <img src="assets/stock_icons/dk.png">
        </button>
        <button (click)="addMain('link')" type="button" class="btn btn-default">
          <img src="assets/stock_icons/link.png">
        </button>
      </div>
    </div>
  </div>
  <div class="row buffer">
    <div class="col-md-6 buffer">
      <div class="float-md-right">
        <button (click)="addMain('gnw')" type="button" class="btn btn-default">
          <img src="assets/stock_icons/gnw.png">
        </button>
        <button (click)="addMain('roy')" type="button" class="btn btn-default">
          <img src="assets/stock_icons/roy.png">
        </button>
        <button (click)="addMain('mewtwo')" type="button" class="btn btn-default">
          <img src="assets/stock_icons/mewtwo.png">
        </button>
        <button (click)="addMain('zelda')" type="button" class="btn btn-default">
          <img src="assets/stock_icons/zelda.png">
        </button>
      </div>
    </div>
    <div class="col-md-6 buffer">
      <div class="float-md-left">
        <button (click)="addMain('ness')" type="button" class="btn btn-default">
          <img src="assets/stock_icons/ness.png">
        </button>
        <button (click)="addMain('pichu')" type="button" class="btn btn-default">
          <img src="assets/stock_icons/pichu.png">
        </button>
        <button (click)="addMain('bowser')" type="button" class="btn btn-default">
          <img src="assets/stock_icons/bowser.png">
        </button>
        <button (click)="addMain('kirby')" type="button" class="btn btn-default">
          <img src="assets/stock_icons/kirby.png">
        </button>
      </div>
    </div>
  </div>
</div>