.container {
    padding-bottom: 50px;
}

h1, h2 {
    padding: 50px;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    text-shadow: 2px 1px 0 hsl(0, 0%, 50%),5px 4px 0 hsla(0, 0%, 0%, 0.15);
}

table {
    margin: auto;
    width: 50%;
}

table th, td {
    text-align: center;
}

table .player1 {
    text-align: left;
}

table .player2 {
    text-align: right;
}