<div class="container">
  <h1>{{ tournament?.name }}</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Organiser</th>
        <th>Location</th>
        <th>Matches</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ tournament?.organiser }}</td>
        <td>{{ tournament?.location }}</td>
        <td>{{ nbMatches }}</td>
      </tr>
    </tbody>
  </table>

  <h2>Matches Results</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Player 1</th>
        <th>Score</th>
        <th>Player 2</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let match of matches">
        <td class="player1">
          <img src="assets/stock_icons/{{ match.player1.mains[0] }}.png"> {{ match.player1.name }}
        </td>
        <td>{{ match.score1 }} : {{ match.score2 }}</td>
        <td class="player2">
          {{ match.player2.name }} <img src="assets/stock_icons/{{ match.player2.mains[0] }}.png">
        </td>
      </tr>
    </tbody>
  </table>
</div>