<div class="container">
  <h1>{{ tournament?.name }}</h1>
  <div class="table-x-scroll">
    <table class="table">
      <thead>
        <tr>
          <th>Organiser</th>
          <th>Date</th>
          <th>Location</th>
          <th>Matches</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ tournament?.organiser }}</td>
          <td>{{ tournament?.date | date: 'yyyy-MM-dd' }}</td>
          <td>{{ tournament?.location }}</td>
          <td>{{ nbMatches }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <h2>Match Results</h2>
  <div class="table-x-scroll">
    <table class="table table-hover">
      <thead>
        <tr>
          <th colspan="2">Player 1</th>
          <th>Score</th>
          <th colspan="2">Player 2</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let match of matches">
          <td><img src="assets/stock_icons/{{ match.player1.mains[0] }}.png"></td>
          <td>{{ match.player1.name }}</td>
          <td>{{ match.score1 }} : {{ match.score2 }}</td>
          <td>{{ match.player2.name }}</td>
          <td><img src="assets/stock_icons/{{ match.player2.mains[0] }}.png"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>