h1 {
    padding: 20px;
    text-align: center;
}

.player-form {
    padding: 20px;
    width: 50%;
    text-align: center;
    margin: auto;
}
  
.player-full-width {
    width: 50%;
}

.ranking-table tbody tr:hover {
    background-color: #acacac;
}