h1 {
    padding: 20px;
    text-align: center;
}

.player-form {
    padding: 20px;
    width: 100%;
    text-align: center;
}
  
.player-full-width {
    width: 20%;
}

.ranking-table tbody tr:hover {
    background-color: #259ece;
}