.buffer {
    margin-top: 50px;
    margin-bottom: 50px;
}

.title {
    padding: 20px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 60px;
    text-align: center;
    text-shadow: 2px 1px 0 hsl(0, 0%, 50%),5px 4px 0 hsla(0, 0%, 0%, 0.15);
}

.title i {
    padding-left: 5px;
    padding-right: 5px;
}

.players {
    margin: auto;
    list-style-type: none;
    padding: 16px;
    width: 75%;
}

@media screen and (max-width: 992px) {
    .players {
        padding: 0;
        width: 100%;
    }
}

.players li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .5em;
    height: 3em;
    width: 100%;
    border-radius: 4px;
}

.players li:hover {
    color: #0078d7;
    box-shadow: 0 0 5px #0078d7;
    left: .1em;
}

.players .text {
    position: relative;
    top: -3px;
}

.players .name {
    padding: 0 1em 0 1em;
    font-size: large;
    font-weight: bold;
}

.players .mains {
    position: absolute;
    left: 50%;
}

.players .location {
    float: right;
    padding: 0.25em 2em 0 0;
}

.players .badge {
    display: inline-block;
    color: white;
    padding: 1em 2em 0 2em;
    background-color: #607D8B;
    background-color: #0078d7;
    font-size: large;
    line-height: 0;
    position: relative;
    top: -2px;
    height: 2em;
    margin-right: 1em;
    border-radius: 4px 4px 4px 4px;
}