<div class="container">
  <div class="title">
    <i class="fa fa-trophy" aria-hidden="true"></i>
    Melee Power Ranking
    <i class="fa fa-trophy" aria-hidden="true"></i>
  </div>

  <app-search-player></app-search-player>

  <ul class="players">
    <li *ngFor="let player of players" (click)="searchPlayer(player._id)">
      <span class="player-element">
        <span class="badge">{{ player.score }}</span>
        <span class="name">{{ player.name }}</span>
        <span class="mains">
          <div class='stock' *ngFor="let character of player.mains">
            <img src="assets/stock_icons/{{ character }}.png" />
          </div>
        </span>
        <span class="location">{{ player.location }}</span>
      </span>
    </li>
  </ul>
</div>