<div class="container">
  <h1>French SSBM Power Ranking</h1>

  <form class="player-form" (ngSubmit)="onSearch()">
    <mat-form-field class="player-full-width">
      <input type="text" placeholder="Search a Player" [(ngModel)]="searchedPlayer" arial-label="Player" matInput [formControl]="searchPlayerCtrl"
        [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let player of filteredPlayers | async" [value]="player.name">
          {{ player.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <input type="submit" arial-label="Search" class="btn btn-primary" value="Search">
    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==">
    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
  </form>

  <table class="table table-striped ranking-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Main(s)</th>
        <th>Location</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of players" (click)="searchPlayer(player._id)">
        <td>{{ player.name }}</td>
        <td>
          <div class='stock' *ngFor="let character of player.mains">
            <img src="assets/stock_icons/{{ character }}.png" />
          </div>
        </td>
        <td>{{ player.location }}</td>
        <td>{{ player.score }}</td>
      </tr>
    </tbody>
  </table>
  </div>